# OpenAI
OPENAI_API_KEY=YOUR_OPENAI_KEY_HERE
OPENAI_ASSISTANT_ID=YOUR_OPENAI_ASSISTANT_ID_HERE

# WATI
WATI_API_ENDPOINT=YOUR_WATI_API_ENDPOINT_HERE
WATI_ACCESS_TOKEN=YOUR_WATI_ACCESS_TOKEN_HERE

# Google
GOOGLE_EMAIL_ADDRESS=YOUR_GOOGLE_EMAIL_ADDRESS_HERE
GOOGLE_APP_PASSWORD=YOUR_GOOGLE_APP_PASSWORD_HERE
ESCALATION_EMAIL_RECIPIENTS=RECIPIENT_EMAILS_HERE_SEPARATED_BY_COMMA
ESCALATION_EMAIL_CC=CC_EMAILS_HERE_SEPARATED_BY_COMMA
ESCALATION_EMAIL_SUBJECT=YOUR_ESCALATION_EMAIL_SUBJECT_HERE

# WTW handbook
WTW_PARENT_HANDBOOK_URL=YOUR_WTW_PARENT_HANDBOOK_URL_HERE