OPENAI_API_KEY=YOUR_OPENAI_KEY_HERE
WATI_API_ENDPOINT=YOUR_WATI_ENDPOINT_HERE
WATI_ACCESS_TOKEN=YOUR_WATI_TOKEN_HERE
GOOGLE_EMAIL_ADDRESS=YOUR_GMAIL_ADDRESS_HERE
GOOGLE_APP_PASSWORD=YOUR_GOOGLE_APP_PASSWORD_HERE