# OpenAI
OPENAI_API_KEY=
OPENAI_ASSISTANT_ID=

# WATI
WATI_API_ENDPOINT=
WATI_ACCESS_TOKEN=

# Twilio
TWILIO_PHONE_NUMBER=+65555555
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# Elevenlabs (for voice call proxy)
ELEVENLABS_API_KEY=
ELEVENLABS_AGENT_ID=
ELEVENLABS_WEBHOOK_SECRET=

# Google
GOOGLE_EMAIL_ADDRESS=
GOOGLE_APP_PASSWORD=
ESCALATION_EMAIL_RECIPIENTS=
ESCALATION_EMAIL_CC=
ESCALATION_EMAIL_SUBJECT=

BOOKING_CONFIRMATION_EMAIL_RECIPIENTS="user1@example.com,user2@example.com"
BOOKING_CONFIRMATION_EMAIL_CC="user3@example.com,user4@example.com"
BOOKING_CONFIRMATION_EMAIL_SUBJECT="Booking Confirmation"

# WTW handbook
WTW_PARENT_HANDBOOK_URL=

# Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_WEBHOOK_SUCCESS_URL=
STRIPE_WEBHOOK_CANCEL_URL=
STRIPE_PRICE_ID=

# Dashboard
NIGHTINGALE_DASHBOARD_USERNAME=
NIGHTINGALE_DASHBOARD_PASSWORD=
